.App {
  text-align: center;
}

.Body-centered {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.show-overflow {
  display: flex;
  overflow-y: visible;
  overflow-x: visible;
}

h4 {
  color: red;
  position: relative;
  transform: rotate(.2deg);
  filter: drop-shadow(4px 4px 1px yellow);
}

.center {
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  white-space: pre-line;
  color: #EF9995;
  position: absolute;
  margin: auto;
  padding: 50px 70px;
}